<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Accueil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-card>
    <ion-card-header>
        <ion-card-title>Bienvenue !</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Voici les dernières nouvelles...
    </ion-card-content>
</ion-card>

<ion-card *ngFor="let annonce of listeAnnonces">
    <img src="http://localhost:51627/api/Annonce/image/{{annonce.id}}">
    <ion-card-header>
        <ion-card-title>{{annonce.titre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        {{annonce.description}}
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
        <ion-card-title>Vous savez tout !</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Vous avez lu le dernier message !
    </ion-card-content>
</ion-card>