<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>{{selectedSouper === undefined ? "Chargement..." : selectedSouper.titre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedSouper">
  <img src="{{selectedSouper.id.toString() | image:'Souper'}}" alt="">
  <ion-card>{{selectedSouper.description}}</ion-card>

  <ion-button (click)="presentModal()" *ngIf="selectedSouper.typeSouper === 'aEmporter'">Commander</ion-button>
  <ion-button (click)="presentModal()" *ngIf="selectedSouper.typeSouper === 'surPlace'">S'inscrire</ion-button>

</ion-content>
