<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Soupers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let souper of listeSoupers" (click)="showDetails(souper.id)">
    <img src="{{souper.id.toString() | image:'Souper'}}" alt="">
    <ion-card-header>
      <ion-card-title>{{souper.titre}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
